<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <class name="annotations.Annot"/>
      <class name="annotations.WorkWithExcel"/>
      <class name="annotations.HardAssertExample"/>
      <class name="annotations.Order"/>
      <class name="annotations.ParamWithArray"/>
      <class name="annotations.OneMoreMethod"/>
      <class name="annotations.SoftAssertExample"/>
      <class name="annotations.ParamWithExcel"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
